<!-- Navigation -->
%nav.navbar.navbar-custom.navbar-fixed-top
  .container
    <!-- Brand and toggle get grouped for better mobile display -->
    .navbar-header.nav-custom
      %ul.nav.navbar-nav
        %li.nav-ele
          = hidden_field_tag 'authenticity_token', form_authenticity_token, :id => 'authenticity_token'
          = select_tag "criteria[country]", options_for_select([['India', 'in'], ['U.S.A', 'us']], @country_code), {class: 'selectpicker', id: 'country_select'}
        %li.nav-ele
          = text_field_tag "criteria[query]", '',id: 'query', class: 'query', autocomplete: 'off', placeholder: '#hashtags ex: #ruby'
        %li.nav-ele{id: 'page-top'}
          = button_tag "Fetch !!!", class: 'btn btn-primary progress-button', id: 'fetch_button', data: { loading: 'Fetching ...', finished: 'Fetch !!!' }
    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav
        %li.hidden
          = link_to '', '#page-top'
        %li
          = link_to 'About', '#about', class: 'page-scroll'
